- provide(:body, "day") 
%header.day-header
  %h1= @today.strftime("%A")
  #countdown
    %span.hours
    %span.minutes
    %span.seconds
  = link_to "End Your Day", end_day_user_path, method: :patch, class: "button hide"
-#
  %h2.yesterday.day= link_to @today.yesterday.strftime("%A"), user_path(@user, day: @today.yesterday)
  %h2.tomorrow.day= link_to @today.tomorrow.strftime("%A"), user_path(@user, day: @today.tomorrow)
.cover-tasks
  %ul.tasks.slides
    = render @tasks
